.arriba
{
    height: 20%;
    display: flex;
    column-gap: 5px;


    .cajaizq
    {
    width: 50%;
    height: 100%;
    background-color: $color-secundario;

    .banner
        {
            height: 100%;
            width: 100%;
        }
    }

    .cajader
    {
    width: 50%;
    height: 100%;


    .logo
        {
        height: 125px;
        width: 125px;
        }
    }

    
}